@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

:root {
  // font-family
  --montserrat-font: "Montserrat", sans-serif;
  --fraunces-font: "Fraunces", serif;

  // color
  --white: #fff;
  --cream-bg: #f2eae2;
  --aurometal-saurus: #6c7289;
  --deep-aquamarine: #3d8168;
  --deep-aquamarine-hover: #1a4032;
  --gunmetal: #1c232b;
}
